.header-right >p {
    margin-top: 90px;
    font-size: 12px;
}
.header-left > h1 {
    font-size: 45px;
    font-weight: 700;
    color: #1f5a5a;
}
.hr{
    color: #1f5a5a;
    font-size: 2px;
}
.partner-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer{
    background-color: #1f5a5a;
    color: white;
    margin-top: 20px;
}

