.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header-left h1 {
    color: #1f5a5a;
    font-size: 48px;
    font-weight: 700;
}

.header-right p {
    margin-top: 80px;
    font-size: 12px;
}

.container {
    margin-top: 40px;
}

.hr {
    background-color: #1f5a5a;
    height: 5px;

}

#footer {
    background-color: #1f5a5a;
    display: flex;
    color: white;
    padding: auto;
    font-size: 10px;
}

.anh img {
    font-size: 30px;
    width: 130px;
    gap: 40px;

}

.anh {
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.anh .rounded-0 {
    width: 250px;
}

.box1 {
    background-color: #225659;
    color: white;
    font-size: 12px;
}

.box1 p,strong {
    margin-left: 10px !important;
    margin: 4px 0;
    line-height: 1.5;

}

.box2 h3 {
    color: #1f5a5a;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-block: 30px;
    font-weight: 700
}

.box2 p {
    text-align: center;
    font-size: 15px;
}

.text-center {
    color: #1f5a5a;
}

.border {
    height: 350px;
    border: 3px #1f5a5a;
}

.box1 h3 {
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px;
    margin-block: 30px;
}

.box3 h3 {
    color: #1f5a5a;
    text-align: center;
    font-size: 25px;
    margin-top: 5px;

    font-weight: 700
}

table,th,td {
    border: 1px solid #8EAAAC;
    border-collapse: collapse;
    border-color: #1f5a5a;
}
.table-left td{
    height: 190px;
    width: 460px;
}
.table-right img{
    margin-left: 35px;
}
.table-left img{
    margin-left: 20px;
}
.table-right td{
    height: 120px;
}
.table-cuoi td{
    height: 180px;
    background-color: #225659;
    color: white;
}
.table-left p,h6{
    margin-left: 20px;
}
h6{
    color:#1f5a5a;
    font-weight: 700
}
h5{
   margin-block: 27px;
    font-weight: 700;
    text-align: center;
    color: #225659;
    font-size: 17px
}
th {
    font-size: 25px;
    color: #1f5a5a;
    text-align: center;
    height: 70px;
    font-weight: 700
}

.box3 p {
    text-align: center;
}

.col-10 {
    text-align: center;
}
.review-photo {
    height: 60px;
}
.gay{
    font-family:'Edu SA Beginner', sans-serif;
}

.right-align {
    text-align: right;
    display: block;
    margin-left: auto; 
    margin-right: 0;
}